[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[dev-packages]
pycodestyle = "*"

[requires]
python_version = "3.5"

[packages]
keyring = "*"
tabulate = "*"
"beautifulsoup4" = "*"
requests = "*"
click = "*"
dbus-python = {version = "*", sys_platform = "== 'linux'"}
secretstorage = {version = "*", sys_platform = "== 'linux'"}

